.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.wrapPostTitle {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding-left: 1.5rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 28px;
}

.postTitle {
  font-weight: normal;
  font-size: 1.5rem;
  padding: 0.2rem 0;
}

.readLink {
  font-size: 1rem;
  cursor: pointer;
  transition: all 200ms;
  text-decoration: none;
  padding: 0.5rem 0;
  text-align: right;
  margin-left: auto;
  min-width: 100px;
}

.readLink:hover,
.readLink:focus,
.readLink:active {
  text-decoration: underline;
  text-shadow: darkred 0.5px 0.5px;
}
